body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: black;
    box-shadow: inset 0 .5em 1.5em grey, inset 0 .125em .5em black;
}
  .divider {
    height: 3rem;
    background-color: black;
    border: solid black;
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em grey, inset 0 .125em .5em black;
}
