body {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: black;
    box-shadow: inset 0 .5em 1.5em grey, inset 0 .125em .5em black;
}
  .divider {
    height: 3rem;
    background-color: black;
    border: solid black;
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em grey, inset 0 .125em .5em black;
}
input::placeholder {
  font-style: italic;
}
ol {
  list-style: none;
  counter-reset: li;
}
ol li::before {
  content: counter(li) ".";
  color: gold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  padding-right: 1em;
}
ol li {
  counter-increment: li;
}
#navBarSearch input[type=text]{width: 130px !important;}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex: column;
  flex-basis: 100%;
  flex: 1;
}
.searchBox {
margin-left:auto;
}