{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Home</h2>
{% if session.user_id %}
<p>Welcome {{ session.user_name }}!</p> 
<a href="/watchlist">Watchlist</a>
<a href="/watched">Watched</a>
<p>
<form action="/result">
    Title <em>(e.g. Avengers)</em>: <input type="text" name="query">
    <br>
    <input type="submit" value="Search">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</p>
<p> Watched movies: {{ movies_count }} Rating average: {{ avg_movies }} <br>
    Watched series: {{ series_count }} Rating average: {{ avg_series }}
</p>
<h3>TOP 5 movies</h3>
<p> {% for movie in top5_movies %}
     {{ movie.title }}, {{ movie.year}}, {{ movie.avg }}
</p>
{% endfor %}
<h3>TOP 5 seasons </h3>
<p> {% for season in top5_series %}
    {{ season.title}}, {{season.year}}, {{season.avg }}
</p>
{% endfor %}
{% else %}
<p>Welcome! By creating an account on the site, you can keep track of which movies and television series
    you have watched and give them reviews.
    <br>You can also create your own list of movies and series to watch next. </p>
{% endif %}
{% endblock %}