<!doctype html>
<html>
    <head>
        <title>Movie tracker - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <h1>Movie and series tracker</h1>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        {% if session.user_id %}
                        <li><a href="/logout">Log out</a></li>
                        <li><a href="/search">Search</a></li>
                        <li><a href="/add">Add</a></li>
                        {% else %}
                        <li><a href="/login">Log in</a></li>
                        <li><a href="/register">Create an account</a></li>
                        {% endif %}
                    </ul>
                </nav>
        </header>
        <div class="container"></div>
{% block content %}{% endblock %}
    </body>
</html>

