<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Movie tracker - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="p-3 mb-2 bg-light text-dark text-center">
      <h1>Movie and series tracker</h1>
      <div class="divider">
        <div class="container">
          <div class="row">
            <div class="column">
              <ul class="nav col-12 col-lg-auto me-lg-auto p-1 justify-content-center">
                <li><a href="/" class="nav-link px-2 text-warning">Home</a></li>
              {% if session.user_id %}
                <li><a href="/logout" class="nav-link px-2 text-white" >Log out</a></li>
                <li><a href="/search"class="nav-link px-2 text-white" >Search</a></li>
                <li><a href="/add" class="nav-link px-2 text-white">Add</a></li>
              {% else %}
                <li><a href="/login" class="nav-link px-2 text-white">Log in</a></li>
                <li><a href="/register" class="nav-link px-2 text-white">Create an account</a></li>
              {% endif %}
              </ul>
            </div>
          
            <div class="column"> 
              {% if session.user_id %}
              <div class="searchBox">
                <form action="/result" method="GET" role="search">
                  <input type="text" class="form-control" name="query" placeholder="Search...">
                </form>
              </div>
              {% endif %}
          </div>
       </div>
      </div>
    </header>
    <footer class="container p-4 text-center text-lg-start fixed-bottom">
      <div class="d-lg-flex justify-content-between">
        <span class="mb-3 mb-md-0 text-muted">&copy; 2023 xelmas</span>
      </div>
    </footer>
  </div>
{% block content %}{% endblock %}
  </body>
</html>

