{% extends "layout.html" %}
{% block title %} Watchlist {% endblock %}
{% block content %}
<div class="container">
  <div class="row mr-auto ml-auto mb-2 text-white">
    <div class="col-12 py-2 mb-2 center-block text-center">
      <h2>Watchlist</h2>
    </div>
  </div>
    <div class="container-fluid mb-4" id="box">
      <div class="item top p-3 mt-3">
        <ul class="golden">
          <h3>Movies</h3>
          {% for item in watchlist1 %}
          <li><a href="/media/movie/{{item.title}}/{{item.year}}" class="text-white"><u>{{ item.title }}</u></a>, {{ item.year }}
            <form class="form-inline py-2 mb-2" action="/update_watchlist" method="post">
              <div class="form-group"> 
                <input type="hidden" name="id" value="{{ item.id }}">
                <input type="hidden" name="media" value="{{ item.media }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
              </div>
              <div class="form-group">
                <input name="process" type="submit" class="btn-sm btn-light mb-1" value="Watched">
                <input name="process" type="submit" class="btn-sm btn-light mb-1 ml-1" value="Remove">
              </div>
            </form>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="item bottom p-3 mt-3">
        <ul class="golden">
          <h3>Series</h3>
          {% for item in watchlist2 %}
          <li><a href="/media/serie/{{item.title}}/{{item.year}}" class="text-white"><u>{{ item.title }}</u></a>, {{ item.year }}
            <form class="form-inline py-2 mb-2" action="/update_watchlist" method="post">
              <div class="form-group"> 
                <input type="hidden" name="id" value="{{ item.id }}">
                <input type="hidden" name="media" value="{{ item.media }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
              </div>
              <div class="form-group">
                <input name="process" type="submit" class="btn-sm btn-light mb-1" value="Watched">
                <input name="process" type="submit" class="btn-sm btn-light mb-1 ml-1" value="Remove">
              </div>
            </form>
          </li>
          {% endfor %}
       </ul>
      </div>
    </div>
    <div class="back col-12 mb-4 py-1 center-block text-center text-white">
      <p>
        <a href="/" class="text-warning">Go back</a>
      </p>
     </div>
  </div>
</div>
{% endblock %}
