{% extends "layout.html" %}
{% block title %} Watched {% endblock %}
{% block content %}
<div class="container">
  <div class="col-12 py-2 center-block text-center text-white">
    <h2>Watched</h2>
  </div>
  <div class="row mr-auto ml-auto mb-2"> 
    <div class="column py-4 mt-4 text-white justify-content-center border p-2">
      <ul class="golden">
        <h3>Movies</h3>
          {% for item in watchlist1 %}
          <li>{{ item.title }}, {{ item.year }} <br>
            {% if ratings1|length > 0%}
              {% for rate in ratings1 %}
                {% if item.id == rate.movie_id %}
                  Current rating: <span class="text-warning">{{ rate.rating }}</span>
                {% endif %}
              {% endfor %}
            {% endif %}
            <form action="/rate", method="post">
              <div class="form-group text-white">
                <label for="rating">Give or update rating (between 1 and 10)</label>
                <input class="input group w-25 ml-1" type="number" id="rating" name="rating" min="1" max="10">
                <input type="hidden" name="id" value="{{ item.id }}">
                <input type="hidden" name="media" value="{{ item.media }}">
                <input type="submit" class="btn btn-sm btn-warning" value="Save">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
              </div>
            </form>
          </li>
          {% endfor %}
        </ul>
    </div>
    <div class="column py-4 mt-4 text-white justify-content-center border p-2">
        <ul class="golden">
          <h3>Series</h3>
          {% for item in watchlist2 %}
            <li>{{ item.title }}, {{ item.year }} <br>
            {% if ratings2|length > 0 %}
              {% for rate in ratings2 %}
                {% if item.id == rate.season_id %}
                    Current rating: <span class="text-warning">{{ rate.rating }}</span>
                {% endif %}
              {% endfor %}
            {% endif %}
              <form action="/rate", method="post">
                <div class="form-group text-white">
                  <label for="rating">Give or update rating (between 1 and 10)</label>
                  <input class="input group w-25 ml-1" type="number" id="rating" name="rating" min="1" max="10">
                  <input type="hidden" name="id" value="{{ item.id }}">
                  <input type="hidden" name="media" value="{{ item.media }}">
                  <input type="submit" class="btn btn-sm btn-warning" value="Save">
                  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </div>
              </form>
            </li>
         {% endfor %}
        </ul>
    </div>
  </div>
</div>
{% endblock %}